.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-bottom: auto;
}

.messages>h1 {
  margin-left: 10%;
}

.message {
  list-style: none;
  background-color: #FC5457;
  margin: 5% 10% 0px 10%;
  border-radius: 10px;
}

.message>p {
  margin-left: 5%;
  color: #FFFFFF;
}