.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #FC5457;
  width: 15%;
}

.container>h1 {
  color: #FFFFFF;
}

.container>div>h3 {
  color: #FFFFFF;
}